* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#F5EFE6;
    font-family: 'Cinzel', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* navigation bar */
nav {
    background-color: #E8DFCA;
    margin: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    padding:0.5rem 1rem ;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: #7895B2;
}

/* SECTION CONFIGURATION */
section {
    padding-bottom: 7rem;
    display: flex;
}

/* MAIN */
/* Home Section */
#home {
    display: block;
}

.banner {
    position: relative;
    margin: 1rem;
}

.banner img {
    width: 100%;
}

.banner-text {
    width: 100%;
    top: 0;
    display: flex;
    position: absolute;
    max-height: 95%;
    max-width: 100%;
}

.left {
    width: 50%;
    padding: 2rem;
    background-image: linear-gradient(#887f6a82, #887f6a00);
}

@media (max-width: 700px) {                  
    .left {
        width: 100%;
        overflow: hidden;
    }
    .left:hover {
        overflow: visible;
    }
}

.right {
    text-align: right;
    width: 50%;
    padding: 2rem;
}

@media (max-width: 700px) {                  
    .right {
        display: none;
    }
}

.right > h1 {
    text-shadow: 1px 2px #887f6a;
}

.banner-text h1 {
    font-size: 2rem;
    color:#E8DFCA;
}

.banner-text p {
    color: #F5EFE6;
}

.main-text {
    padding: 3rem 1rem;
}

/* JEWELLERY */

.products-h1 {
    padding: 1rem;
}

#jewellery {
    flex-flow:wrap;
}

.product-div {
    flex: 1 1 0;
    padding: 1rem;
}

.product-div:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.gallery h2 {
    margin: 1rem;
}

.gallery p {
    margin: 1rem;
}

#jewellery img {
    display: block;
    width: 100%;
    height: 400px;
}

/* ORDER SECTION */
#order {
    flex-flow: wrap;
}

.order-col {
    flex: 1 1 0;
    padding: 1rem;
}

/* Form styling */
.form {
    border-radius: 8px;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #E8DFCA;
}

input:focus {
    border-bottom: 2px solid #92876e;
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #E8DFCA;
    background: 0;
    color: #887f6a;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: #92876e;
    color: #fff;
}

/* ABOUT SECTION */

.about-col {
    flex: 1 1 0;
    /* width: 0; */
    margin:1rem;
}
.about-img {
    width: 100%;
}


/* FOOTER */

footer {
    padding: 1rem;
    background-color: #E8DFCA;
    display: flex;
    justify-content: space-between;
}

footer img {
    display: block;
    width: 100px;
}

footer p {
    text-align: right;
}