* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#F5EFE6;
    font-family: 'Cinzel', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    color: white;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* navigation bar */
nav {
    background-color: #E8DFCA;
    /* width: 100%; */
    margin: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    padding:0.5rem 1rem ;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: #7895B2;
}

/* MAIN */

/* .main-image {
    max-height: 1vh; 
    overflow: hidden;
} */

.main-image img {
    position: relative;
    width: 100%;
}

section {
    display: flex;
}

#home {
    /* display: block; */
    position:relative;
    padding: 1rem;
}

.main-text {
    display: flex;
    position: absolute;
    background-color: #7895b24d;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.main-text h1 {

    color:#E8DFCA;
}

.main-text p {
    color: #F5EFE6;
}


/* FOOTER */
footer p {
    color: black;
}
footer {
    padding-top: 20px;
    background-color: #E8DFCA;
    display: flex;
}

footer div {
    /* flex: ; */
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}